.usersContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: #075e54;
}

.userTitleBar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    margin-right: 10px;
    color: #fff;
}

.user {
    background: #075e54;
    padding: 20px;
    border-bottom: 1px solid #ececec;
    font-size: 18px;
    width: 100%;
    color: #fff;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
}

.user:hover {
    color: #000;
    cursor: pointer;
    background-color: #ececec;
}

@media (min-width: 320px) and (max-width: 600px) {
    .usersContainer {
        height: 90vh;
    }
}
