* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    font-family: sans-serif;
}

.mainContainer {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card {
    border: 1px solid #fff;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 30px;
    background-color: #fff;
}

.mt-10 {
    margin-top: 10px;
}

.centerItem {
    display: flex;
    justify-content: center;
    align-items: center;
}
