.outerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.innerContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #ece5dd;
    border-radius: 8px;
    height: 100vh;
    width: 100%;
}

@media (min-width: 320px) and (max-width: 600px) {
    .outerContainer {
        height: 90vh;
    }

    .innerContainer {
        height: 90vh;
    }
}
